<br>
<br>
<br>
<br>
<br>
<br>

<div id="testdiv">
	<ul>
		<li onclick="TINY.box.show({iframe:'/parmount.html',boxid:'frameless',width:800,height:600,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})">iFrame, Blue Mask, Absolute Position, Frameless, Close Callback</li>
	</ul>
</div>