<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VP2 HTML5</title>
<!-- must have -->
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="/assets/vp2_html5_bottomPlaylist.css" rel="stylesheet" type="text/css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/assets/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
<script src="/assets/reflection.js" type="text/javascript"></script>
<script src="/assets/vp2_html5_bottomPlaylist.js" type="text/javascript"></script>

<!-- must have -->




	<script>
		$(function() {

			$('#vp2_html5_bottomPlaylist_Uw').vp2_html5_bottomPlaylist_Video({
				skin: 'universalWhite',
				seekBarAdjust:240,
				borderWidth: 7,
				thumbsReflection:0,	
				borderColor: '#FFFFFF'
				
			});	
			
			
		});
		
		
	</script>
    
   
    
</head>

<body bgcolor="#000">


     <!-- universal black -->
        <div class="vp2_html5_bottomPlaylistBorder">
     			<div class="vp2_html5_bottomPlaylist">     
                        <video id="vp2_html5_bottomPlaylist_Uw" width="752" height="423" preload="auto">
                          
                          <div class="xplaylist">
                          
                            <ul>
                                <li class="xtitle">Schofield Stone</li>
                                <li class="xdesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam a sem tortor, eu gravida massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent feugiat tellus sit amet nisl varius quis blandit mi pretium. Cras non neque diam. Vestibulum elit nunc, tristique quis vulputate eu, lobortis eu neque. Donec mollis consequat arcu.</li>
                                <li class="xthumb">/assets/video_thumbs/schofield_thumb.png</li>
                                <li class="xpreview">/assets/video_thumbs/schofield.png</li>
                                <li class="xsources_mp4">/assets/videos/schofield_stone_640x360.mp4</li>                    
                                <li class="xsources_ogv">videos/sintel_trailer.ogv</li>
                                <li class="xsources_webm">videos/sintel_trailer.webm</li>
                                
                            </ul>
                          
                            <ul>
                                <li class="xtitle">Pilgrim Screw</li>
                                <li class="xdesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam a sem tortor, eu gravida massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent feugiat tellus sit amet nisl varius quis blandit mi pretium. Cras non neque diam. Vestibulum elit nunc, tristique quis vulputate eu, lobortis eu neque. Donec mollis consequat arcu.</li>
                                <li class="xthumb">/assets/video_thumbs/pilgrim_thumb.png</li>
                                <li class="xpreview">/assets/video_thumbs/pilgrim.png</li>
                                <li class="xsources_mp4">/assets/videos/pilgrim_screw_corporation_640x360.mp4</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Paramount</li>
                                <li class="xdesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam a sem tortor, eu gravida massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent feugiat tellus sit amet nisl varius quis blandit mi pretium. Cras non neque diam. Vestibulum elit nunc, tristique quis vulputate eu, lobortis eu neque. Donec mollis consequat arcu.</li>
                                <li class="xthumb">/assets/video_thumbs/paramount_thumb.png</li>
                                <li class="xpreview">/assets/video_thumbs/paramount.png</li>
                                <li class="xsources_mp4">/assets/videos/paramount_640x360.mp4</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Maecenas Lacus Ante</li>
                                <li class="xdesc">Donec hendrerit magna sit amet eros lobortis non egestas diam scelerisque. Praesent molestie aliquet ipsum.</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_b2.png</li>
                                <li class="xpreview">videos/previews/prev_b2.jpg</li>
                                <li class="xsources_mp4">videos/sintel_trailer.mp4</li>
                                <li class="xsources_ogv">videos/sintel_trailer.ogv</li>
                                <li class="xsources_webm">videos/sintel_trailer.webm</li>
                            </ul>
                            
                            
                            
                            <ul>
                                <li class="xtitle">Lorem Ipsum Dolor</li>
                                <li class="xdesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque hendrerit</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_a3.png</li>
                                <li class="xpreview">videos/previews/prev_a3.jpg</li>
                                <li class="xsources_mp4">videos/big_buck_bunny_trailer.mp4</li>
                                <li class="xsources_ogv">videos/big_buck_bunny_trailer.ogv</li>
                                <li class="xsources_webm">videos/big_buck_bunny_trailer.webm</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Fusce Suscipit Risus</li>
                                <li class="xdesc">Phasellus vitae velit eu turpis consequat hendrerit. Curabitur vitae sapien libero, amet ornare lectus. Vestibulum lobortis quam eu dui luctus molestie. Sed dictum urna at erat congue ultricies ac ut dui. Etiam orci purus, cursus et aliquet et, iaculis sed enim. Sed felis felis, tristique eu suscipit venenatis, accumsan a augue. Donec non enim neque, nec pretium leo. Cras dapibus, lectus in facilisis cursus, dolor justo dictum ligula, quis cursus elit est in felis. Donec tristique magna at tellus gravida luctus.</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_b3.png</li>
                                <li class="xpreview">videos/previews/prev_b3.jpg</li>
                                <li class="xsources_mp4">videos/sintel_trailer.mp4</li>
                                <li class="xsources_ogv">videos/sintel_trailer.ogv</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Class Aptent Taciti</li>
                                <li class="xdesc">Maecenas interdum interdum enim id laoreet. Curabitur semper fermentum leo pretium eleifend.</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_a4.png</li>
                                <li class="xpreview">videos/previews/prev_a4.jpg</li>
                                <li class="xsources_mp4">videos/big_buck_bunny_trailer.mp4</li>
                                <li class="xsources_ogv">videos/big_buck_bunny_trailer.ogv</li>
                                <li class="xsources_webm">videos/big_buck_bunny_trailer.webm</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Maecenas Lacus Ante</li>
                                <li class="xdesc">Donec hendrerit magna sit amet eros lobortis non egestas diam scelerisque. Praesent molestie aliquet ipsum.</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_b4.png</li>
                                <li class="xpreview">videos/previews/prev_b4.jpg</li>
                                <li class="xsources_mp4">videos/sintel_trailer.mp4</li>
                                <li class="xsources_ogv">videos/sintel_trailer.ogv</li>
                                <li class="xsources_webm">videos/sintel_trailer.webm</li>
                            </ul>
                            
                            
                            <ul>
                                <li class="xtitle">Lorem Ipsum Dolor</li>
                                <li class="xdesc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque hendrerit</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_a5.png</li>
                                <li class="xpreview">videos/previews/prev_a5.jpg</li>
                                <li class="xsources_mp4">videos/big_buck_bunny_trailer.mp4</li>
                                <li class="xsources_ogv">videos/big_buck_bunny_trailer.ogv</li>
                                <li class="xsources_webm">videos/big_buck_bunny_trailer.webm</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Fusce Suscipit Risus</li>
                                <li class="xdesc">Phasellus vitae velit eu turpis consequat hendrerit. Curabitur vitae sapien libero, amet ornare lectus. Vestibulum lobortis quam eu dui luctus molestie. Sed dictum urna at erat congue ultricies ac ut dui. Etiam orci purus, cursus et aliquet et, iaculis sed enim. Sed felis felis, tristique eu suscipit venenatis, accumsan a augue. Donec non enim neque, nec pretium leo. Cras dapibus, lectus in facilisis cursus, dolor justo dictum ligula, quis cursus elit est in felis. Donec tristique magna at tellus gravida luctus.</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_b5.png</li>
                                <li class="xpreview">videos/previews/prev_b5.jpg</li>
                                <li class="xsources_mp4">videos/sintel_trailer.mp4</li>
                                <li class="xsources_ogv">videos/sintel_trailer.ogv</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Class Aptent Taciti</li>
                                <li class="xdesc">Maecenas interdum interdum enim id laoreet. Curabitur semper fermentum leo pretium eleifend.</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_a6.png</li>
                                <li class="xpreview">videos/previews/prev_a6.jpg</li>
                                <li class="xsources_mp4">videos/big_buck_bunny_trailer.mp4</li>
                                <li class="xsources_ogv">videos/big_buck_bunny_trailer.ogv</li>
                                <li class="xsources_webm">videos/big_buck_bunny_trailer.webm</li>
                            </ul>
                            
                            <ul>
                                <li class="xtitle">Maecenas Lacus Ante</li>
                                <li class="xdesc">Donec hendrerit magna sit amet eros lobortis non egestas diam scelerisque. Praesent molestie aliquet ipsum.</li>
                                <li class="xthumb">videos/thumbs/universalWhite/t_b6.png</li>
                                <li class="xpreview">videos/previews/prev_b6.jpg</li>
                                <li class="xsources_mp4">videos/sintel_trailer.mp4</li>
                                <li class="xsources_ogv">videos/sintel_trailer.ogv</li>
                                <li class="xsources_webm">videos/sintel_trailer.webm</li>
                            </ul>                
                                                                                          
                          </div>
                          
                        </video>
                </div>                  
        </div>     <!-- border -->                           
                        
            <br style="clear:both;">      
    



</body>
</html>