<div class="box">
<div id="nav">
    <ul id="navList">
      <li><a href="#" class="inside">Gerald Joseph</a>
        <!-- This is the sub nav -->
      	<ul class="listTab">
        	<table>
        		<td>
        			<img src="/assets/Gerald.jpeg" class="profiles" />
        		</td>
        		<td>
        			<h2 class="profile">Gerald Joseph</h2>
              	<p class="title">President</font></p>
              	<p class="contact"><a href="tel:212-888-1855" class="profile">(212) 888-1855</a>&nbsp;/&nbsp;<a href="mailto:gjoseph@gerberfinance.com" class="profile">email</a><p>
              	<p class="profile">A Chartered Accountant educated at the University of Cape Town in South Africa.  After a stint in the apparel industry, he joined the Gerber Goldschmidt Group in 1982 eventually becoming the Managing Director of Gerber Goldschmidt Finance, their trade finance arm.  Moved to the US in 1994 and founded Gerber Finance shortly thereafter.  He sits on a number of boards as non-executive director and shareholder representative.</p>
						</td>
        	</table>
        </ul>
      </li>
      <li><a href="#" class="inside">Vadim Toyberman</a>
        <!-- This is the sub nav -->
        <ul class="listTab">
          <table>
          	<td>
          		<img src="/assets/Vadim.jpg" class="profiles" />
          	<td>
          		<h2 class="profile">Vadim Toyberman</h2>
              	<p class="title">Senior Vice President</font></p>
              	<p class="contact"><a href="tel:212-888-1517">(212) 888-1517</a>&nbsp;/&nbsp;<a href="mailto:vtoyberman@gerberfinance.com">email</a><p>
              	<p class="profile">As head of credit, Vadim overseas all aspects of credit management for Gerber’s portfolio. He was a Relationship Manager at Wells Fargo Business Credit prior to joining Gerber team in 2000, bringing a strong background in asset-based lending. Affable by nature, he is celebrated by colleagues and clients alike for his incredible sense of humor and personal approach to lending. Vadim hails from Moldova and has a degree in Finance & Investments from Baruch College</p>
          	</td>
          </table>				
        </ul>
      </li>
      <li><a href="#" class="inside">Jennifer Palmer</a>
        <!-- This is the sub nav -->
        <ul class="listTab">
          <table>
          	<td>
          		<img src="/assets/img_jen.jpg" class="profiles" />
          	<td>
          		<h2 class="profile">Jennifer Palmer</h2>
              	<p class="title">Senior Vice President</font></p>
              	<p class="contact"><a href="tel:212-888-1533">(212) 888-1533</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:jpalmer@gerberfinance.com">email</a><p>
              	<p class="profile">As SVP of Business Development, Jennifer is responsible for cultivating new relationships with companies that would benefit from financing with Gerber. As In-House Counsel, Jennifer is able to streamline the documentation process while reducing clients’ costs. Jennifer holds a JD from Fordham Law and a BA from Marist College. She is active in the industry serving on various committees including the Board of Directors of the Commercial Finance Association.</p> 
          	</td>
          </table>		
        </ul>
      </li>
      <li><a href="#" class="inside">Elena Goynatsky</a>
      <ul class="listTab">
          <table>
          	<td>
          		<img src="/assets/Elena.jpg" class="profiles" />
          	<td>
          	 	<h2 class="profile">Elena Goynatsky</h2>
             		<p class="title">Vice President</font></p>
             		<p class="contact"><a href="tel:212-888-1554">(212) 888-1554</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:egoynatsky@gerberfinance.com">email</a><p>
             		<p class="profile">As Vice President of Marketing, Elena is responsible for originating, analyzing and structuring a wide variety of transactions. Elena’s extensive experience in marketing and credit provides her with a unique perspective allowing her to meet the client’s needs. Prior to joining Gerber Finance in 2008, she worked at Wells Fargo and Bank Leumi. She holds a BA in Finance from Baruch College and a BS in Math from Ukrainian State University.</p>    
              </td>
          </table>		
        </ul>
      </li>
      <li><a href="#" class="inside">Entela Semini</a>
      <ul class="listTab">
          <table>
          	<td>
          		<img src="/assets/entela.jpg" class="profiles" />
          	<td>
          		<h2 class="profile">Entela Semini</h2>
              	<p class="title">Vice President</font></p>
              	<p class="contact"><a href="tel:212-888-1536">(212) 888-1536</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="mailto:esemini@gerberfinance.com">email</a><p>
              	<p class="profile">Raised in Tirana, Albania, Entela came to the US as an exchange student in 1999. She obtained her BA in Finance from Pace University and joined Gerber Finance in 2006. Entela interfaces on a daily basis with clients dealing with the collateral and financial reporting, borrowing bases, cash flows and ensuring that the system of funding the portfolio is efficient and uncomplicated. Entela is also responsible for managing part of the Gerber portfolio in the capacity of Account Executive.</p>    
              </td>
          </table>		
        </ul>
      </li>
    </ul>
  </div>
</div>  