<!DOCTYPE html>
<html>
<head>
  <title>Top 10 Questions to Ask Your Lender</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="popups">
<div id="header_popups">
	<h2 class="popups">10 questions to ask your lender</h2>
</div>
<div class="top10_body">
<h4 class="popups"> 1. What are the estimated costs that I am responsible for, including legal fees, in order to close the loan?</h4>
	<p class="popups">This could vary enormously. Some lenders have standard documents and in-house counsel to make the cost of the service 
	nominal or even free. Others will require you to pay for their lawyers to draw the documents. As you will want your lawyers to review 
	all documents before you sign, you could be in for a double whammy. Ask potential lenders to be specific about when and where legal 
	fees will occur.
	</p>
	
<h4 id="popups">2. Once we close the loan what are all the costs, fees, and charges I will incur in order to use the line of credit?</h4>
	<p class="popups">Most people know to ask about interest rates. But your cost does not end there. There are field exams (how many per year 
	and what is the cost per exam? Is this open ended or will the lender put a cap on this cost?), management fees, administration fees, 
	reporting fees and more. Some lenders will even charge for online access to your account. Ask for a complete list of all charges, 
	including fees accrued if you don’t fully use the line.
	</p>
	
<h4 id="popups">3. How exactly do you calculate the interest?</h4>
	<p class="popups">Please provclasse an example. You have been quoted 2% above prime rate. Whose prime? Some institutions have their own prime 
	which may be greater than you expect. Interest is based on a 360 day year but there are usually float days (the number of days from 
	when funds are paclass into your accclassount until you are credited with the funds). Ask how many float days you will have - are those “days” 
	or “business days?” When the lender presents an example, pay close attention to the total cost/benefit comparison vs. only the interest 
	rate comparison.
</p>
	
<h4 id="popups">4. After the loan closes, who will I work with on a regular basis?</h4>
	<p class="popups">A good relationship with your lender can make all the difference in your company’s growth. You will spend much time with 
	your lender’s representative and will start to understand what they expect of you while they learn about your business. Many lenders 
	have salespeople who will pass you on to another representative once the loan is approved and you will have to start building that important 
	relationship with someone new. The salesperson may have made promises the new rep knows nothing about. To avoclass such miscommunications, meet 
	with the new rep as soon as possible and certainly before committing to the transaction and be prepared to educate the new team.
	</p>
	
<h4 id="popups">5. Once I provclasse you with all the information you need, when can we close on the loan?</h4>
	<p class="popups">Some lenders have credit committees who meet formally at certain intervals, possibly weekly or even monthly. While you may be 
	scheduled for this month’s meeting, if they run over time or require additional information from you, you may have to wait up to another 
	month before your loan is approved. If time is critical, you’ll want to know this early on.
	</p>
	
<h4 id="popups">6. What will you do to gain a true understanding of my business and my financial needs?</h4>
	<p class="popups">Business is dynamic. Your lender stays informed only through the information you provclasse or the knowledge they seek out - and 
	monthly information is never enough! Your lender should meet with you regularly at your place of business to stay informed and ready for 
	your next big financial milestone. Do not to see this as an intrusion but as due diligence that will help both companies. The better your 
	lender knows your business, the better they can meet your ever-changing needs.
	</p>
	
<h4 id="popups">7. Can I speak with some of your clients to get references?</h4>
	<p class="popups">You should ask your potential lender if you can speak with some existing and former customers in an industry specific to yours. 
	Helping to choose the references will ensure that you will not just speak with the lender's happiest clients. You want to try and hear the 
	good, the bad and the ugly. It is also important to speak with former clients so you can better understand why they no longer do business 
	with this lender.
	</p>
	
<h4 id="popups">8. How quickly can you react to a request for a credit line increase?</h4>
	<p class="popups">As your lender gets to know you, their response time should shorten. But if you are with one of those once-a-month credit 
	committee types (see question 5), you could be stuck. Make sure your lender has short lines of communication within their company to get 
	you that rapclass approval when you need it most.
	</p>
	
<h4 id="popups">9. If I encounter temporary or seasonal cash flow issues, how will this affect my line?</h4>
	<p class="popups">This should never be a problem for an informed and educated lender. If you know that you will encounter cash flow issues, tell 
	your lender up front so that they can tailor a credit line that will work for your business. If the cash flow issue arises unexpectedly, talk 
	to your lender at the earliest opportunity. It is never too soon to tell your lender about changes in your business.
	</p>
	
<h4 id="popups">10. What if my business runs into trouble?</h4>
	<p class="popups">All lenders will say they will work with you. But ask them to be specific and talk through examples of what a tough time for your 
	business will mean to your finances. Some lenders will simply react and protect themselves by lowering advance rates and creating reserves - 
	both of which will limit their risk and exacerbate your situation. Smart lenders who understand your business and are aware of the possible 
	problems up front should get you the help you need.
	</p>
<input type="button"
  onClick="window.print()"
  value="Print This Page"/>	
</div>	
</body
</html>	
	