/* Drop Down CSS */

#cssmenu{ 
	display:block;
	position: absolute;
	height:37px;
	top: 42px; 
	left:160px;
	white-space:nowrap;
	width: auto;
	padding:0; 
	margin: 0; 
	border: 1px solid black;
	border-radius:0px; } 

#cssmenu > ul {
	
	list-style:inside none; 
	padding:0; 
	margin:0;} 

#cssmenu > ul > li {
	list-style:inside none; 
	padding:0; 
	margin:0; 
	float:left; 
	display:block; 
	position:relative;} 
	
#cssmenu > ul > li > a{ 
	outline:none; 
	display:block; 
	position:relative; 
	padding:12px 20px; 
	font:bold 13px/100% century gothic, arial, helvetica, sans-serif; 
	text-align:center; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 4.4); } 
	
#cssmenu > ul > li:first-child > a{
	border-radius:5px 0 0 5px;} 
	
#cssmenu > ul > li > a:after{ 
	content:''; 
	position:absolute; 
	border-right:1px solid; 
	top:-1px; 
	bottom:-1px; 
	right:-2px; 
	z-index:99; } 
	
#cssmenu ul li.has-sub:hover > a:after{
	top:0; 
	bottom:0;} 
	
/* Down Arrows
#cssmenu > ul > li.has-sub > a:before{ 
	content:''; 
	position:absolute; 
	top:18px; 
	right:6px; 
	border:5px solid transparent; 
	border-top:1px solid #fff; } 
*/	
	
#cssmenu > ul > li.has-sub:hover > a:before{
	top:19px;} 
	
#cssmenu ul li.has-sub:hover > a{ 
	background:none; 
	border-color:#3f3f3f; 
	padding-bottom:13px; 
	padding-top:13px; 
	top:-1px; 
	z-index:999;
	color:#000;
	text-shadow: 0 0 0.5em #d7d5d4, 0 0 0.5em #d7d5d4,
        0 0 0.5em #d7d5d4; } 
	
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{
	display:block;
	} 
	
#cssmenu ul li.has-sub > a:hover{
	background:none; 
	border-color:#1f1e1e;
	} 
	
#cssmenu ul li > ul, #cssmenu ul li > div{ 
	display:none; 
	width:auto; 
	position:absolute; 
	top:38px; 
	padding:10px 0; 
	background:#1f1e1e; 
	opacity: .7;
	filter:alpha(opacity=70);
	border-radius:0 0 5px 5px; 
	z-index:999; } 
	
#cssmenu ul li > ul{
	width:200px;} 

#cssmenu ul li > ul li{
	display:block; 
	list-style:inside none; 
	padding:0; 
	margin:0; 
	position:relative;} 
	
#cssmenu ul li > ul li a{ 
	outline:none; 
	display:block; 
	position:relative; 
	margin:0; 
	padding:8px 20px; 
	font:10pt Arial, Helvetica, sans-serif; 
	color:#fff; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.5); 
	} 

#cssmenu ul li > ul li a:hover{ 
	outline:none; 
	display:block; 
	position:relative; 
	margin:0; 
	padding:8px 20px; 
	font:10pt Arial, Helvetica, sans-serif; 
	color:#000;
	background: #fff; 
	text-decoration:none; 
	} 

/*
#cssmenu { 
	background:#000000; 
	background:-moz-linear-gradient(top, #000000 60%, #404040 100%); 
	background:-webkit-gradient(linear, left top, left bottom, color-stop(60%,#000000), color-stop(100%,#404040)); 
	background:-webkit-linear-gradient(top, #000000 60%,#404040 100%); 
	background:-o-linear-gradient(top, #000000 60%,#404040 100%); 
	background:-ms-linear-gradient(top, #000000 60%,#404040 100%); 
	background:linear-gradient(top, #000000 60%,#404040 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#404040',GradientType=0 ); } 
*/

#cssmenu{
	border-color:#000;} 
	
#cssmenu > ul > li > a{
	border-right:1px solid #000; 
	color:#fff;
	} 
	
#cssmenu > ul > li > a:after{
	border-color:#444;} 
	
#cssmenu > ul > li > a:hover{
	background:none;
	color: #000;
	text-shadow: 0 0 0.5em #d7d5d4, 0 0 0.5em #d7d5d4,
        0 0 0.5em #d7d5d4;}
        