<!DOCTYPE html>
<html>
<head>
  <title>Gerber Trade Finance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="layout">
<div id="menu">
	<a href='/'><img src="/assets/Logo.png" class="logo" /></a>
	<div id='cssmenu'>
		<ul>
   		<li class='active '><a href='/'><span>home</span></a></li>
   		<li class='has-sub '><a href='/about'><span>about us</span></a>
      	<ul>
         	<li><a href='/history'><span>history</span></a></li>
         	<li><a href='/profiles'><span>profiles</span></a></li>
      	</ul>
   		</li>
   		<li><a href='/asset'><span>asset based</span></a></li>
   		<li><a href='/trade'><span>trade finance</span></a></li>
   		<li class='has-sub '><a href='/clientele'><span>clientele</span></a>
      	<ul>
         	<li><a href='/current'><span>client  testimonials</span></a></li>
         	<li><a href='/prior'><span>prior testimonials</span></a></li>
      	</ul>
   		</li>
   		<li onclick="TINY.box.show({iframe:'/contact',boxid:'frameless',width:500,height:300,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"><a href='/contacts'><span>contact</span></a></li>
		</ul>
	</div>
</div>

	<div><%= yield %></div>

	<div id='footer'>
		<p id="footerleftwidth">
		<h2 class="name"><strong>Gerber</strong> Finance Inc.</h2>
		<h3 class="name"> &copy; 2012 Gerber Finance Inc.</h3>
		<p class="redirect"><a href="https://www.stuckynet-link.com/gerber/" class="redirect">client login</a>|<a href=""class="redirect">gerber colorado</a><p>
		</p>
		<ul class="floatset">
			<li onclick="TINY.box.show({iframe:'/calc',boxid:'frameless',width:800,height:500,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"><a class="calc" /></a></li>
			<li onclick="TINY.box.show({iframe:'/top10',boxid:'frameless',width:800,height:500,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"><a class="top10" /></a></li>
   		<li onclick="TINY.box.show({iframe:'/gear',boxid:'frameless',width:800,height:500,fixed:false,maskid:'bluemask',maskopacity:40,closejs:function(){closeJS()}})"><a class="gear"></a></li>
   	</ul>
	</div>

</body>
</html>